node_modules/
built*
built_sh/
built_ps1/
logs/
*.db
*.db-*
public/resource/

# Unused files
*.pid*
*.test
*.out
*_log.csv
*.log
log.*
blog.run
blog.run~
blog.exe
blog.exe~
.*.swp
_.swp

# IDE
*.iml
*.ipr
*.iws
.idea/
.vscode/
