#editDirPage {
    .checkbox-d > i {
        margin: 0 2px;
    }

    .option-d {
        opacity: 1 !important;
        width: 72px;
        padding-right: 2px;

        > .button {
            width: 24px;
            padding: 2px;
        }
    }
}
